$font-family: 'Roboto', sans-serif;
$font-size : 12px;
$font-size-big: 36px;
$font-size-medium: 18px;
$primary-color : Black;
$secondary-color : #ffff;
$muted-font-color: grey;
$background-color : #ffff;
$font-color: black;
$font-icon-size: 17px;