@import './variables';
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: $font-family;
}
.container {
  width: 100%;
}

.dropdown-content li > a, .dropdown-content li > span { color: $primary-color;}
.pagination li.active { background-color: $primary-color;}
.pagination li.active a { color: $secondary-color; }

.product.btn-floating{
  width: 29.4px !important;
  height: 29.4px !important;
  margin-right: 2.8%;
}

.slider .indicators .indicator-item.active{
  background-color:  $primary-color;
}

.sidenav-trigger {
  color: $primary-color;
}

.preloader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
}

.select-wrapper input.select-dropdown {
  overflow: hidden;
  text-overflow: ellipsis;
}