/*Contacts*/
$font: Helvetica, 'Open Sans', sans-serif;
$primary-color: black;
$background-color: #fff;

body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    background-color: $background-color;
}

.background-white { 
  background-color: white; 
}