@import '../../assets/scss//variables';
.slider {
    position: relative;
}
.arrow-indicator-custom {
    position: absolute;
    top: 38%;
    z-index: 99999;
    width: 100%;
    display: block;

    button {
        height: 50px;
    }
    button i {
        font-size: 24px;
    }
    .rigth {
        float: right;
    }
}
.p-category{
    font-size: $font-size-medium;
    color: $muted-font-color;
    font-family: bold;
    margin-top: 9%;
}

.p-title {
   font-size: $font-size-big;
   margin-top: 28px;
   margin-bottom: 28px;     
}

.p-content{
    line-height: 28px;
}

.p-color {
    font-size: $font-size-medium;
    color: $muted-font-color;
    font-family: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}
.price-wrapper {
    margin-top: 8.5%;
}


.p-price {
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
}

.price-content {

    div {
        display: inline-block;
        margin-right: 30px;
    }
}
.price-unit-label {
    font-size: 18px;
    color: grey;
    font-family: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}
.buy-btn {
    position: relative;
    top: -6px;
}
.p-cart {
    position: relative;
    top: -6px;
}

@media only screen and (max-width: 375px)  {
    .price-content {
        div {
            margin-right: 25px;
        }
    }
}

@media only screen and (max-width: 425px)  {
    .slider, .slides {
        height: 350px !important;
    }
    .slider .indicators {
        top: 10px;
        position: relative;
    }
}